.gti-{
	&about__company{
		&__section{
			padding: 95px 0 115px;
			background-color: #211a1a;
			// border-top: 1px solid #595455;
			// border-bottom: 1px solid #595455;
			.content{
				width: 100%;
				float: left;
				position: relative;
				padding: 120px 0;
				.layer{
					position: absolute;
					top: 0;
					left: -140px;
					right: -150px;
					bottom: 0;
					background-position: center;
					background-size: cover;
				}
			}
		}
		&__image{
			width: 100%;
			height: 100%;
			background-position: center;
			background-size: cover;
		}
		&__slider{
			width: 100%;
			height: 100%;
			&__wrapper{
				position: absolute;
				top: 80px;
				left: 100px;
				right: 0;
				height: 600px;
				z-index: 1;
				.slider-navigation{
					position: absolute;
					bottom: -58px;
					left: 0;
					right: 255px;
					padding-right: 185px;
					.swiper-scrollbar{
						width: 100%;
						height: 3px;
						float: left;
						background-color: #5c4545;
						&-drag{
							height: 11px;
							top: -5.5px;
							border-radius: 0;
							background: none;
							background-image: url('../images/icons/slider.svg');
							background-size: 100% 11px;
							background-repeat: no-repeat;
							background-position: center;
						}
					}
					.swiper-button-group{
						position: absolute;
						width: 135px;
						height: 44px;
						right: 0;
						top: -22.5px;
						.swiper-button-prev,
						.swiper-button-next{
							width: 60px;
							height: 44px;
							display: block;
							margin-top: 0;
							top: 0;
							background-size: cover;
							background-position: center;
							-webkit-transition: all 0.2s ease;
									transition: all 0.2s ease;
							&::after{
								display: none;
							}
						}
						.swiper-button-prev{
							left: 0;
							background-image: url('../images/icons/prev-slide.svg');
							&.swiper-button-disabled{
								background-image: url('../images/icons/prev-slide-nonactive.svg');
							}
						}
						.swiper-button-next{
							right: 0;
							background-image: url('../images/icons/next-slide.svg');
							&.swiper-button-disabled{
								background-image: url('../images/icons/next-slide-nonactive.svg');
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1600px){
	.gti-about__company__slider__wrapper{
		height: 500px;
	}
}
@include media-breakpoint-down(lg) {
	.gti-about__company{
		&__slider__wrapper{
			position: relative;
			top: -45px;
			left: 30px;
			right: 0;
			height: 420px;
			.slider-navigation{
				right: 10px;
				.swiper-button-group{
					right: 10px;
				}
			}
			.slider-navigation {
				display: none;
			}
		}
		&__section {
			padding: 35px 0 25px;
			.content{
				padding: 40px 0 80px;
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.gti-about__company__slider__wrapper{
		height: 350px;
	}
}
@include media-breakpoint-down(sm) {
	.gti-about__company__slider__wrapper{
		height: 250px;
		.slider-navigation {
			padding-right: 130px;
			.swiper-button-group {
				width: 90px;
				height: 29px;
				top: -15.5px;
				.swiper-button-prev,
				.swiper-button-next{
					width: 40px;
					height: 29px;
				}
			}
		}
	}
}