.gti-{
	&appointment__section{
		padding: 120px 0;
		.content{
			width: 100%;
			float: left;
			padding: 127px 0 115px;
		}
	}
}
@include media-breakpoint-down(lg) {
	.gti-{
		&appointment__section{
			padding: 70px 0;
			.content{
				padding: 30px 0 0;
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.gti-{
		&appointment__section{
			padding: 50px 0;
		}
	}
}