.gti-{
	&b2b__section{
		.content{
			width: 100%;
			float: left;
			padding: 220px 0 255px;
		}
	}
}
@include media-breakpoint-down(lg) {
	.gti-b2b__section .content{
		padding: 100px 0 120px;
	}
}
@include media-breakpoint-down(md) {
	.gti-b2b__section .content{
		padding: 55px 0 195px;
	}
}