.gti-{
	&benefit{
		&s__section{
			padding: 85px 0 105px;
			.image{
				width: 100%;
				float: left;
				text-align: center;
			}
		}
		&__block{
			width: 100%;
			float: left;
			margin: 45px 0 10px;
			padding-right: 15px;
			.title{
				width: 100%;
				float: left;
				padding-left: 48px;
				position: relative;
				span{
					position: absolute;
					top: -5px;
					left: 0;
					width: 38px;
					height: 39px;
					display: block;
					line-height: 39px;
					font-size: 21px;
					color: $red-font;
					text-align: center;
					background-image: url('../images/circle.svg');
				}
				h4{
					font-family: $primary-font;
					font-weight: 400;
					color: $red-font;
					margin-bottom: 15px;
				}
			}
		}
		&s__slider{
			padding-bottom: 20px;
			.swiper-pagination{
				bottom:	0;
				.swiper-pagination-bullet{
					width: 33px;
					height: 3px;
					border-radius: 0;
					background-color: #fff;
					opacity: 0.4;
					&-active{
						opacity: 1;
					}
				}
			}
		}
		&__slide{
			width: 100%;
			float: left;
			padding: 10px 0 0;
			.title{
				display: inline-block;
				padding-left: 40px;
				position: relative;
				span{
					position: absolute;
					top: -5px;
					left: 0;
					width: 33px;
					height: 34px;
					display: block;
					line-height: 34px;
					font-size: 18.75px;
					color: $red-font;
					text-align: center;
					background-image: url('../images/circle.svg');
					background-position: center;
					background-size: cover;
				}
				h4{
					font-family: $primary-font;
					font-weight: 400;
					color: $red-font;
					margin-bottom: 15px;
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.gti-benefits__section{
		padding: 70px 0 50px;
	}
	.gti-benefit__block{
		padding-right: 0;
	}
}
@include media-breakpoint-down(md) {
	.gti-benefits__section {
		padding: 50px 0 55px;
		.image{
			width: 90%;
			margin: 20px 5% 30px;
		}
	}
}