.gti-{
	&footer{
		width: 100%;
		float: left;
		background-size: cover;
		background-position: center;
		padding: 208px 0 492px;
		.gti-section__title{

		}
		.copyright{
			width: 100%;
			float: left;
			margin-bottom: 29px;
			p{
				font-size: 19px;
				line-height: 28px;
			}
		}
		a.phone{
			width: 100%;
			float: left;
			font-size: 40px;
			line-height: 67px;
			color: #fff;
			text-decoration: none;
			margin-bottom: 21px;
			display: block;
			&:hover{
				text-decoration: underline;
				color: $orange-font;
			}
		}
		a.email{
			width: 100%;
			float: left;
			font-size: 19px;
			line-height: 28px;
			color: #fff;
			text-decoration: underline;
			display: block;
			&:hover{
				color: $orange-font;
			}
		}
		.address__block{
			width: 100%;
			float: left;
			margin-bottom: 28px;
			h4{
				font-family: $primary-font;
				font-weight: 400;
				color: $red-font;
				margin-bottom: 15px;
			}
			p{
				font-size: 19px;
				line-height: 28px;
			}
		}
	}
}
@media screen and (max-width: 1600px){
	.gti-footer {
		.copyright {
			margin-bottom: 20px;
			p{
				font-size: 16px;
				line-height: 24px;
			}
		}
		a.phone{
			font-size: 28px;
			line-height: 36px;
		}
		a.email{
			font-size: 16px;
			line-height: 24px;
		}
		.address__block{
			margin-bottom: 10px;
			h4{
				margin-bottom: 10px;
			}
			p{
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.gti-footer{
		padding: 100px 0 250px;
	}
}
@include media-breakpoint-down(md) {
	.gti-footer {
		padding: 50px 0 200px;
		a.email{
			font-size: 14px;
			line-height: 21px;
			margin-bottom: 40px;
		}
		.address__block{
			margin-top: 0;
			p{
				font-size: 14px;
				line-height: 21px;
			}
		}
		.copyright {
			margin-bottom: 15px;
			p{
				font-size: 14px;
				line-height: 21px;
			}
		}
	}
}