.gti-{
	&logo{
		float: left;
		margin: 0 69px 0 0;
	}
	&mobile__nav{
		position: fixed;
		width: 100%;
		max-width: 70%;
		top: 136px;
		left: -100%;
		bottom: 0;
		background-color: #120f11;
		z-index: 100;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		&.scroll{
			top: 82px;
		}
		&.show__menu{
			left: 0;
		}
		ul{
			width: 100%;
			float: left;
			padding: 0;
			margin: 0;
			list-style: none;
			line-height: 0;
			position: absolute;
			top: 45%;
			-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
			a{
				font-size: 18px;
				line-height: 26px;
				padding: 7px 30px 6px;
				display: block;
				color: #fff;
				text-decoration: none;
				&.active{
					color: $orange-font;
				}
			}
		}
	}
	&mobile__btn{
		width: 41px;
		height: 31px;
		float: left;
		margin: 0 0 0 30px;
		position: relative;
		cursor: pointer;
		span{
			width: 39px;
			height: 4px;
			display: block;
			background-color: #fff;
			position: absolute;
			top: 0;
			left: 1px;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			&:nth-child(1){
				top: 1px;
			}
			&:nth-child(2){
				top: 14px;
			}
			&:nth-child(3){
				top: 27px;
			}
		}
		&.show__menu{
			span{
				&:nth-child(1){
					top: 13px;
					-webkit-transform: rotate(225deg);
        					transform: rotate(225deg);
				}
				&:nth-child(2){
					width: 0;
				}
				&:nth-child(3){
					top: 13px;
					-webkit-transform: rotate(-45deg);
        					transform: rotate(-45deg);
				}
			}
		}
	}
	&header{
		width: 100%;
		float: left;
		padding: 47px 0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		-webkit-transition: all 0.3s ease!important;
				transition: all 0.3s ease!important;
		&.scroll{
			background-color: #120f11;
			padding: 15px 0;
		}
		&.show__menu{
			background-color: #120f11;
		}
	}
	&main__nav{
		float: left;
		padding: 11px 0;
		ul{
			width: 100%;
			float: left;
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				float: left;
				line-height: 0;
				padding: 0 15px;
				a{
					font-size: 16px;
					line-height: 28px;
					padding: 8px 0 7px;
					display: block;
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					position: relative;
					&::before{
						content: '';
						display: block;
						width: 0;
						height: 2px;
						position: absolute;
						bottom: 7px;
						left: 50%;
						background-color: $red-font;
						opacity: 0;
						visibility: hidden;
						-webkit-transform: translateY(-50%);
            					transform: translateY(-50%);
						-webkit-transition: all 0.2s ease;
								transition: all 0.2s ease;
					}
					&:hover{
						color: $orange-font;
						&::before{
							width: 100%;
							left: 0;
							opacity: 1;
							visibility: visible;
							background-color: $orange-font;
						}
					}
				}
			}
		}
	}
	&right__nav{
		margin: 15px 0 0;
		a.facebook{
			width: 39px;
			height: 39px;
			display: block;
			background-image: url('../images/icons/facebook.svg');
			float: left;
			margin-right: 29px;
			background-position: center;
			background-size: cover;
			&:hover{
				background-image: url('../images/icons/facebook-hover.svg');
			}
		}
		.language__switcher{
			float: left;
			margin: 9px 0 0;
			ul{
				float: left;
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					float: left;
					line-height: 0;
					a{
						font-size: 19px;
						line-height: 21px;
						display: block;
						text-decoration: none;
						color: $red-font;
						position: relative;
						text-transform: capitalize;
						&::before{
							content: '';
							display: block;
							width: 0;
							height: 2px;
							position: absolute;
							bottom: -5px;
							left: 50%;
							background-color: $red-font;
							opacity: 0;
							visibility: hidden;
							-webkit-transform: translateY(-50%);
	            					transform: translateY(-50%);
							-webkit-transition: all 0.2s ease;
									transition: all 0.2s ease;
						}
						&:hover{
							color: $orange-font;
							&::before{
								width: 100%;
								left: 0;
								opacity: 1;
								background-color: $orange-font;
								visibility: visible;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1600px){
	.gti-{
		&header.scroll{
			padding: 20px 0;
		}
		&logo{
			width: 120px;
			margin: 0 40px 0 0;
		}
		&main__nav {
			padding: 13px 0 0;
			ul li {
				padding: 0 10px;
				a{
					padding: 0 0 10px;
					font-size: 14px;
				}
			}
		}
		&right__nav{
			margin: 3px 0 0;
			a.facebook{
				width: 35px;
				height: 35px;
				margin-right: 20px;
			}
			.language__switcher ul li a{
				font-size: 17px;
			}
		}
	}
}
@include media-breakpoint-down(xl) {
	.gti-logo{
		margin: 0 20px 0 0;
	}
	.gti-main__nav {
		padding: 10px 0 0;
		ul li {
			padding: 0 5px;
			a{
				padding: 0 0 10px;
				font-size: 12px;
			}
		}
	}
	.gti-right__nav {
		a.facebook{
			width: 31px;
			height: 31px;
		}
		.language__switcher {
			margin: 7px 0 0;
			ul li a{
				font-size: 15px;
				line-height: 18px;
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.gti-{
		&header{
			padding: 25px 0;
		}
		&logo{
			width: 91px;
		}
		&mobile__nav{
			top: 82px;
			&.scroll{
				top: 72px;
			}
			ul a{
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
	.gti-right__nav {
		margin: 4px 0 0;
		a.facebook{
			width: 25px;
			height: 25px;
			margin-right: 13px;
		}
		.language__switcher{
			margin: 3px 0 0;
		}
	}
	.gti-mobile__btn{
		margin: -5px 0 0 20px;
	}
}
@include media-breakpoint-down(sm) {
	.gti-mobile__nav{
		max-width: 80%;
	}
}