.gti-{
	&hero__section{
		position: relative;
		canvas{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
		.content{
			width: 100%;
			float: left;
			position: absolute;
			top: 44.3%;
			left: 0;
			-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
			h1{
				margin-bottom: 45px;
				text-transform: uppercase;
			}
			.text__row{
				width: 100%;
				float: left;
				.text{
					p{
						font-size: 21px;
						line-height: 28px;
					}
				}
				.logo{
					width: 100%;
					float: left;
					text-align: center;
				}
			}
			&__wrapper{
				width: 100%;
				float: left;
				height: 100vh;
				min-height: 700px;
				// min-height: 1006px;
				position: relative;
			}
		}
	}
	&scroll__down{
		width: 81px;
		height: 81px;
		display: block;
		border-radius: 50%;
		border: 3px solid $orange-font;
		position: absolute;
		bottom: 155px;
		left: 50%;
		margin: 0 0 0 -40.5px;
		cursor: pointer;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		// &:before{
		// 	content: '';
		// 	width: 110%;
		// 	height: 110%;
		// 	border-radius: 50%;
		// 	position: absolute;
		// 	left: -5%;
		// 	top: -110%;
		// 	background-color: $orange-font;
		// 	opacity: 0;
		// 	-webkit-transition: all 0.3s ease;
		// 			transition: all 0.3s ease;
		// }
		&:after{
			content: '';
			width: 3px;
			height: 310px;
			display: block;
			position: absolute;
			background-image: url('../images/icons/line-down.png');
			background-position: top center;
			background-size: cover;
			top: 100%;
			left: 50%;
			margin: 0 0 0 -1.5px;
		}
		.icon{
			content: '';
			width: 42px;
			height: 32px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -16px 0 0 -21px;
			z-index: 1;
			background-size: cover;
			background-position: center;
			background-image: url('../images/icons/arrow-down.svg');
		}
		&:hover{
			background-color: $orange-font;
		}
	}
}
@media screen and (max-width: 1600px){
	.gti-scroll__down{
		width: 65px;
		height: 65px;
		margin: 0 0 0 -32.5px;
		border-width: 2px;
		.icon{
			width: 35px;
			height: 26px;
			margin: -13px 0 0 -17.5px;
		}
	}
}
@media screen and (max-height: 750px){
	.gti-{
		&hero__section{
			.content{
				top: 50%;
				.text__row .text p{
					font-size: 18px;
					line-height: 24px;
				}
			}
		}
		&scroll__down{
			bottom: 50px;
			&::after{
				width: 1px;
				height: 120px;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.gti-hero__section .content .text__row .logo{
		text-align: left;
	}
	.gti-scroll__down{
		display: none;
	}
}
@include media-breakpoint-down(md) {
	.gti-{
		&hero__section{
			.content{
				position: relative;
				top: 50%;
				padding: 100px 0 60px;
    			&__wrapper{
    				height: 100vh;
    				min-height: 650px;
    			}
				h1{
					margin-bottom: 20px;
				}
				.text__row .text p{
					font-size: 14px;
					line-height: 21px;
					margin-bottom: 30px;
				}
			}
		}
	}
}