.gti-{
	&location__section{
		padding: 123px 0 77px;
		background-color: #120f11;
		.gti-section__title{
			margin: 24px 0 0;
			padding-left: 15px;
		}
	}
	&map__block{
		width: 100%;
		float: left;
		margin-bottom: 50px;
		img{
			width: 100%;
			height: auto;
		}
	}
	&legend__block{
		width: 100%;
		float: left;
		position: relative;
		padding-left: 30px;
		margin-bottom: 24px;
		.icon{
			width: 30px;
			height: 24px;
			position: absolute;
			left: 0;
			top: 0;
			img{
				left: 0;
				top: 50%;
				position: absolute;
				-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
			}
		}
		h6{
			font-family: $primary-font;
			font-weight: 400;
			line-height: 24px;
			color: $brown-font;
			margin-bottom: 0;
		}
	}
}
@media screen and (max-width: 1600px){
	.gti-legend__block {
		margin-bottom: 15px;
		.icon{
		}
	}
}
@include media-breakpoint-down(xl) {
	.gti-location__section .gti-section__title{
		padding-left: 0;
	}
}
@include media-breakpoint-down(lg) {
	.gti-location__section{
		padding: 70px 0 50px;
	}
}
@include media-breakpoint-down(md) {
	.gti-location__section{
		padding: 27px 0 35px;
	}
	.gti-{
		&map__block{
			margin-bottom: 35px;
		}
		&location__section{
			.gti-section__title{
				margin-bottom: 30px;
			}
		}
		&legend__block h6{
			line-height: 21px;
		}
	}

}