.gti-{
	&packaging__section{
		background-color: #cac0b7;
		padding: 92px 0;
		.image{
			width: 84%;
			float: left;
			margin: -150px 8% 0;
			img{
				width: 100%;
				height: auto;
			}
		}
		.small__image{
			width: 100%;
			float: left;
			text-align: center;
			img{
				width: 100%;
				max-width: 235px;
			}
		}
		.text{
			width: 100%;
			float: left;
			p{
				font-size: 18px;
				line-height: 28px;
				color: #645d56;
			}
			&.text__1{
				padding-right: 75px;
			}
		}
	}
}
@media screen and (max-width: 1600px){
	.gti-packaging__section {
		.image{
			margin: -120px 8% 20px;
		}
		.text p{
			font-size: 16px;
			line-height: 24px;
		}
	}
}
@include media-breakpoint-down(xl) {
	.gti-packaging__section {
		.image{
			margin: -100px 8% 20px;
		}
	}
}
@include media-breakpoint-down(lg) {
	.gti-packaging__section {
		padding: 70px 0;
		.image{
			margin: -50px 8% 20px;
		}
		.text{
			&.text__1{
				padding-right: 20px;
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.gti-packaging__section {
		padding: 50px 0;
		.gti-section__title.text-center{
			text-align: left!important;
		}
		.text{
			&.text__1{
				padding-right: 0;
			}
			p{
				font-size: 14px;
				line-height: 21px;
			}
		}
		.small__image{
			margin: 20px 0 40px;
		}
	}
}
@include media-breakpoint-down(sm) {
	.gti-packaging__section {
		.image{
			width: 100%;
			margin: -20px 0 20px;
		}
	}
}