.gti-{
	&production{
		&__slider{
			position: absolute;
			right: -105px;
			left: 0;
			.image{
				width: 100%;
				height: 700px;
				background-position: center;
				background-size: cover;
			}
		}
		&__section{
			padding: 143px 0 219px;
			overflow-y: hidden;
		}
		&__text{
			&__points{
				width: 100%;
				float: left;
				margin: 77px 0 0;
				position: relative;
				padding: 0 10px;
				.line{
					width: 100%;
					height: 3px;
					float: left;
					border-radius: 3px;
					background-color: #503c3c;
					margin: 9px 0 0;
				}
				.point{
					display: block;
					width: 16.6%;
					height: 30px;
					float: left;
					position: relative;
					cursor: pointer;
					&:hover,
					&.active{
						div{
							opacity: 0;
							&.active{
								opacity: 1;

							}
						}
						&::before{
							opacity: 1;
						}
					}
					div{
						width: 20px;
						height: 30px;
						background-position: center;
						background-size: cover;
						position: absolute;
						left: 50%;
						margin-left: -10px;
						background-position: center;
						background-size: inherit;
						background-repeat: no-repeat;
						-webkit-transition: all 0.3s ease;
								transition: all 0.3s ease;
						&.active{
							opacity: 0;
						}
					}
					&s__row{
						left: -11%;
						right: -11%;
						top: -50px;
						position: absolute;
					}
					&::after{
						content: '';
						width: 18px;
						height: 18px;
						display: block;
						position: absolute;
						left: 50%;
						bottom: -40px;
						margin-left: -9px;
						background-position: center;
						background-size: cover;
						background-image: url('../images/icons/point-icon.svg');
						z-index: 1;
						-webkit-transition: all 0.3s ease;
								transition: all 0.3s ease;
					}
					&::before{
						content: '';
						width: 42px;
						height: 42px;
						display: block;
						position: absolute;
						left: 50%;
						bottom: -52px;
						margin-left: -21px;
						background-position: center;
						background-size: cover;
						background-image: url('../images/icons/point-icon-active.svg');
						z-index: 2;
						opacity: 0;
						-webkit-transition: all 0.3s ease;
								transition: all 0.3s ease;
					}
				}
			}
			&__slider{
				width: 100%;
				float: left;
				margin: 63px 0 0;
				.image{
					width: 100%;
					height: 400px;
					background-size: cover;
					background-position: center;
					margin-bottom: 35px;
				}
				.text{
					width: 100%;
					float: left;
					h3{
						font-weight: 400;
						font-family: $primary-font;
						color: $red-font;
						margin-bottom: 34px;
					}
					p{
						font-size: 19px;
						line-height: 29px;
					}
				}
				&__wrapper{
					width: 100%;
					float: left;
				}
			}
		}
	}
}
@media screen and (max-width: 1600px){
	.gti-production__{
		&text__slider {
			.text {
				h3{
					margin-bottom: 20px;
				}
				p{
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
		&slider {
			right: 0;
			.image{
				height: 600px;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.gti-production__section{
		padding: 70px 0;
	}
	.gti-production__slider{
		position: relative;
		.image{
			height: 350px;
		}
	}
	.gti-production__text__{
		&slider{
			margin: 0;
		}
		&points{
			.line{
				height: 2px;
			}
			.points__row{
				top: -35px;
			}
			.point{
				height: 19px;
				div{
					width: 11px;
					height: 19px;
					background-size: contain;
					margin-left: -5.5px;
				}
				&::before{
					width: 27px;
					height: 27px;
					margin-left: -13.5px;
					bottom: -40px;
				}
				&::after{
					width: 12px;
					height: 12px;
					margin-left: -6px;
					bottom: -32px;
				}
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.gti-production__section{
		padding: 50px 0 70px;
	}
	.gti-production__text__slider .image{
		height: 350px;
	}
}
@include media-breakpoint-down(sm) {
	.gti-production__text__slider .image{
		height: 200px;
	}
}