html{
	overflow: hidden;
	overflow-y: auto;
}
body{
	overflow-x: hidden;
}
.container, .container-lg, .container-md, .container-sm, .container-xl{
	max-width: 1530px;
	padding-left: 10px;
	padding-right: 10px;
}
.row{
	margin-left: -10px;
	margin-right: -10px;
	>*{
		padding-left: 10px;
		padding-right: 10px;
	}
}
.nopadding{
	padding-left: 0;
	padding-right: 0;
}
section{
	width: 100%;
	float: left;
	&.background{
		background-position: center;
		background-size: cover;
	}
}
.gti-{
	&section__title{
		width: 100%;
		float: left;
		&.noseparator{
			h2{
				&::after{
					display: none;
				}
			}
		}
		h4{
			font-family: $primary-font;
			font-weight: 400;
			margin-bottom: 30px;
		}
		h2{
			font-weight: 700;
			text-transform: uppercase;
			position: relative;
			margin-bottom: 48px;
			&::after{
				content: '';
				width: 167px;
				height: 8px;
				display: block;
				background-image: url('../images/icons/separator.svg');
				background-size: cover;
				background-position: center;
				margin: 50px 0 0;
			}
		}
		.text{
			width: 100%;
			float: left;
			padding-right: 35px;
		}
		.list{
			width: 100%;
			float: left;
			margin-top: 20px;
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					float: left;
					font-size: 19px;
					line-height: 40px;
					position: relative;
					margin-right: 25px;
					padding-left: 20px;
					&::before{
						content: '';
						position: absolute;
						top: 12px;
						left: 0;
						width: 14px;
						height: 14px;
						display: block;
						background-position: center;
						background-size: cover;
						background-image: url('../images/icons/list-item.svg');
					}
				}
			}
		}
		p{
			font-size: 18px;
			line-height: 28px;
			letter-spacing: 0.35px;
		}
	}
}
@media screen and (max-width: 1600px){
	.container, .container-lg, .container-md, .container-sm, .container-xl{
		max-width: 1320px;
	}
	.gti-section__title {
		p{
			font-size: 16px;
			line-height: 24px;
		}
		.list ul li{
			font-size: 16px;
			line-height: 36px;
			&::before{
				top: 11px;
			}
		}
	}
}
@include media-breakpoint-down(xl) {
	.container, .container-lg, .container-md, .container-sm, .container-xl{
		max-width: 960px;
	}
}
@include media-breakpoint-down(lg) {
	.container, .container-lg, .container-md, .container-sm, .container-xl{
		max-width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	.row{
		// margin-left: -30px;
		// margin-right: -30px;
		// &>*{
		// 	padding-left: 30px;
		// 	padding-right: 30px;
		// }
	}
	.gti-section__title .text{
		padding-right: 0;
	}
}
@include media-breakpoint-down(md) {
	.gti-section__title {
		h4{
			margin-bottom: 20px;
		}
		h2{
			margin-bottom: 25px;
			&::after{
				width: 143px;
				height: 6px;
				margin: 25px 0 0;
			}
		}
		p{
			font-size: 14px;
			line-height: 21px;
		}
		.list{
			margin-top: 0;
			ul{
				li{
					width: 100%;
					font-size: 14px;
					line-height: 21px;
					margin-bottom: 8px;
					&::before{
						width: 12px;
						height: 12px;
						top: 4px;
					}
				}
			}
		}
	}
}