body{
	font-family: $primary-font;
	color: #fff;
	background-color: #000;
}
h1{
	font-family: $secondary-font;
	font-size: 67px;
	line-height: 80px;
}
h2{
	font-family: $secondary-font;
	font-size: 48px;
	line-height: 67px;
}
h3{
	font-family: $secondary-font;
	font-size: 40px;
	line-height: 48px;
}
h4{
	font-family: $secondary-font;
	font-size: 21px;
	line-height: 28px;
}
h5{
	font-family: $secondary-font;
	font-size: 18px;
	line-height: 24px;
}
h6{
	font-family: $secondary-font;
	font-size: 16px;
	line-height: 20px;
}
p{
	font-size: 16px;
	line-height: 24px;
}
a{
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}
img{
	max-width: 100%;
	height: auto;
}
.font__red{
	color: $red-font
}
@media screen and (max-width: 1600px){
	h1{
		font-size: 46px;
		line-height: 54px;
	}
	h2{
		font-size: 40px;
		line-height: 48px;
	}
	h3{
		font-size: 32px;
		line-height: 40px;
	}
	h4{
		font-size: 18px;
		line-height: 24px;
	}
	h5{
		font-size: 16px;
		line-height: 20px;
	}
	h6{
		font-size: 14px;
		line-height: 18px;
	}
	p{
		font-size: 14px;
		line-height: 21px;
	}
}

@include media-breakpoint-down(md) {
	h1{
		font-size: 28px;
		line-height: 35px;
	}
	h2{
		font-size: 28px;
		line-height: 35px;
	}
	h3{
		font-size: 24px;
		line-height: 30px;
	}
	h4{
		font-size: 18.75px;
		line-height: 24px;
	}
	h5{
		font-size: 16px;
		line-height: 20px;
	}
	h6{
		font-size: 14px;
		line-height: 18px;
	}
}